@font-face {
  font-family: netflix-sans-regular;
  src: url('NetflixSans_Rg.ttf');
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.root {
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("bfiimage.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2vw;
  height: 10vh;
}

.logo {
  width: 14%;
}

.sign-in {
  border-radius: 10px;
  background-color: #e50914;
  color: white;
  padding: 12px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  text-align: center;
}

.body h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.body h2 {
  font-size: 1.75em;
  font-weight: normal;
  margin: 10px 0;
}

.body p {
  font-size: 1.2em;
  margin: 10px 0;
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  background-color: transparent;
  margin-top: 20px;
}

.email {
  border: 0.1em solid white;
  padding: 14px;
  font-size: 1.2em;
  color: #000;
  border-radius: 6px;
  flex: 1;
}

.get-started {
  background-color: #e50914;
  color: white;
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 6px;
  font-size: 1.2em;
  border: none;
  margin-left: 12px;
}

.get-started:hover {
  background-color: red;
}
